
<!--<h1>글제목(only)이랑 썸네일 보여주기 + 글 쓰러가기 링크</h1>-->

<div class="container">
 <% @posts.each do |p| %>
  <a href="/view_each/<%=p.id%>"><p><img src="<%= p.image_url %>" height="200" width="200" float="right"></p></a>
  <p><%= p.price %></p>
 <% end %>
</div>
