<div class="container">
 <div class="row">
    <div class="col s12">
      <ul class="tabs">

        <li class="tab col s3">
          <a href="/home/search">의류</a>
        </li>
    
        <li class="tab col s3"><a href="/home/search">코스메틱</a></li>
        <li class="tab col s3"><a href="#test3">책</a></li>
        <li class="tab col s3"><a href="#test4">티켓</a></li>
        <li class="tab col s3"><a href="#test5">기타</a></li>
      </ul>
    </div>
  </div>
  
  
  <div class="row" >
    <% @postsall.each do |p| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="/view_each/<%=p.id%>">
        <!-- change -->
          <% if p.post_images.count == 0 || p.post_images[0].avatar.url.nil? || p.finished == true %>
            <img src="<%=p.image_url%>">
          <% else %>
            <img class="img-responsive" src="<%= p.post_images[0].avatar.url%>">
          <% end %>
        </a>
      </div>
    <% end %>
    
  </div>
  
   <div class="row" >
    <form class="col s12" action="/home/search">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate" name="search">
          <label for="icon_prefix">Search</label>
        </div>
      </div>
    </form>
  </div>
  
</div>
<div style="margin-left: auto; margin-right: auto; width:300px"> <%=paginate @postsall, :theme => 'twitter-bootstrap'%></div>   
<script>
    $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
