<div class="row">
<a href="#" data-activates="slide-out" class="button-collapse col s1 left"><i class="material-icons" style="margin-top:10px; margin-right:20px; font-size:3.5rem; color:#e57373;">toc</i></a>
</div>

<!-- side nav botton 이랑 myinfo 나란히 정렬 -->

<ul class="collection with-header">
  <li class="collection-item avatar">
    <img src="<%= current_user.userpic %>" class="circle">
    <% if current_user.admin? %>
      <p>어드민계정입니다.</p>
    <% end %>
    <p>닉네임: <%=current_user.username%></p>
    <p>이메일: <%= current_user.email %><br>
       <a href="/users/edit" style="color:#7986cb">정보 수정하러가기</a>
    </p>
    <a href="#!" class="secondary-content"></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle blue lighten-2">mode_edit</i>
    <span class="title"><a href="/home/show_user_post" style="color:#7986cb">내가 쓴 글</span></a><br>
    <span class="title"><a href="/home/show_reply_post">내가 댓글을 단 게시물</span><br>
    <span class="title"><a href="/home/alarm">내 글에 달린 댓글 확인하기</span></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle teal lighten-2">verified_user</i>
    <span class="title"><a href="https://saint.sogang.ac.kr" style="color:#7986cb">인증하러가기</span></a>
    <a href="#!" class="secondary-content"></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle deep-orange lighten-2">thumb_up</i>
    <form action="/home/change_pic" method="GET">
      <input type = "hidden" value = "<%= current_user.id %>" name ="user_id">
      <button class="btn waves-orange btn-flat" type="submit">프로필 표정 바꾸기</button>
    </form>  
  </li>
</ul>