


<div class="row" height: 100%>
<div class="container">

  <%=params[:search]%>에 대한 검색결과입니다<br>      
  <div class="row" height: 100%>
  
   <%@search.each do |s|%>
        <% if s.nil?%>
         <p>검색결과가 없습니다</p>
        <% else %>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a href="/view_each/<%=s.id%>">
              <% if s.post_images[0].avatar.url.nil? %>
                <img src="/assets/emptyimage.png" class="img-responsive" height="auto" alt="">
              <% else %>
                <img class="img-responsive" src="<%= s.post_images[0].avatar.url%>" height="auto" alt="">
              <% end %>
            </a>
        </div>
        <% end %>
    <% end %>
    
  </div>
</div>
&nbsp;<a href = "/home/index"> 홈으로 돌아가기</a>
<div style="margin-left: auto; margin-right: auto; width:300px"> <%=paginate @search, :theme => 'twitter-bootstrap'%> </div>    
