<h1>해시태그 검색결과 보기</h1>
  


<div class="container">

  
  <div class="row" height: 100%>
    <% @posts.each do |post| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/view_each/<%=post.id%>">
          <% if post.image_url.nil? %>
            <img src="/assets/emptyimage.png" class="img-responsive" height="auto" alt="">
          <% else %>
            <img class="img-responsive" src="<%= post.image_url%>" height="auto" alt="">
          <% end %>
        </a>
      </div>
    <% end %>
    
  </div>
</div>

<div style="margin-left: auto; margin-right: auto; width:300px"> <%=paginate @posts, :theme => 'twitter-bootstrap'%> </div>   
<a href = "/home/index"> 홈으로 돌아가기</a>