      <!-- index 페이지랑 동일한 위치에 side nav botton이랑 search bar -->
  <div class="row">
    <form class="col s12" style="height:73.5px;" action="/home/search">
      <div class="row">
        <a href="#" data-activates="slide-out" class="button-collapse col s1 left"><i class="material-icons" style="margin-top:10px; font-size:3.5rem; color:#e57373;">toc</i></a>
        <div class="input-field col s10 right" style="color:#e57373;">
          <i class="material-icons prefix" style="margin-top:5px; color:#e57373;">search</i>
          <input id="icon_prefix" type="text" class="validate" name="search">
          <label for="icon_prefix">Search</label>
        </div>
      </div>
    </form>
  </div>

    <div class="row" >
      <% @writerpost.each do |post| %>
        <% if post.nil?%>
          <p>사용자가 작성한 게시물이 없습니다</p>
        <% else %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="/view_each/<%=post.id%>">
              <% if post.post_images.count == 0 || post.post_images[0].avatar.url.nil? || post.finished == true %>
                <img src="<%=post.image_url%>">
              <% else %>
                <img class="img-responsive" src="<%= post.post_images[0].avatar.url%>">
              <% end %></a>
          </div>
        <% end %>
        <% end %>
    </div>
  <div style="margin-left: auto; margin-right: auto; width:300px"> <%=paginate @writerpost, :theme => 'twitter-bootstrap'%></div>
<a href = "/home/index"> 홈으로 돌아가기</a>