<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    .page-footer {
     padding-top: 0px !important;  
    }
  </style>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/home/index" class="brand-logo">SG Market</a>
        <ul class="right hide-on-med-and-down">
           <% if current_user %>
           <li><a href="/users/sign_out">로그아웃</a></li>
           <% else %>
           <li><a href="/users/sign_in">로그인</a></li>
           <% end %>
           <li><a href = "/home/write" > 글 써볼래?</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
<%= yield %>

  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Likelion Sogang
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  
</body>
</html>
