<!DOCTYPE html>
<html lang="en">

<head>
  
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>SG MARKET</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href="/assets/home.css" rel="stylesheet">-->
  <style type="text/css">
    .page-footer {
     padding-top: 0px !important;  
    }
  </style>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <!--<link href="css/thumbnail-gallery.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  
  <div class="navbar-fixed" style="margin-bottom:10px">
    <nav>
      <div class="nav-wrapper" style="background-color:#e57373">
        <a href="/home/index" class="brand-logo" style="color:#e57373; height:100%"><img src="/assets/logo.png" style="
         
        margin-left:50px; height:100%;
        
        "></a>
        <ul class="right hide-on-med-and-down">
           <% if current_user %>
           <li><a href="/home/myinfo" style="color:e57373">내 정보</a></li>
           <li><a href="/users/sign_out" style="color:white">로그아웃</a></li>
           <% else %>
           <li><a href="/users/sign_in" style="color:white">로그인</a></li>
           <% end %>
           <li><a href = "/home/write" style="color:white">글 써볼래?</a></li>
        </ul>
      </div>
    </nav>
  </div>

<main>  
<%= yield %>
</main>


  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Likelion Sogang
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
    
  </footer> 
  
     
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->

</body>
  

</html>
