<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    .page-footer {
     padding-top: 0px !important;  
    }
    
  </style>
  
</head>

<body>
  
  <div class="navbar-fixed" style="margin-bottom:10px" >
    <nav style = "padding-right: 10px">
      <div class="nav-wrapper" style="background-color:white">
        <a href="/home/index" class="brand-logo" style="color:#e57373"><img src="http://postfiles10.naver.net/20160529_297/yooncastle__14644603427099Wj94_PNG/KakaoTalk_20160529_020014294.png?type=w773" style="width:170px; margin-left:50px"></a>
        <ul class="right hide-on-med-and-down" >
           <% if current_user %>
           <li><a href="/users/sign_out" style="color:#e57373" "font-family:sans-serif" "font-weight: bold">LOG OUT</a></li>
           <% else %>
           <li><a href="/users/sign_in" style="color:#e57373" "font-family:sans-serif" "font-weight: bold">LOG IN</a></li>
           <% end %>
           <li><a href = "/home/write" style="color:#e57373"> WRITE </a></li>
        </ul>
      </div>
    </nav>
  </div>
  
<%= yield %>

  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Likelion Sogang
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
    
  </footer>
  
</body>
</html>
